.btn-component{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.btn-component:hover{
    opacity: 0.9;
    transition: 0.3s ease;
}
